@{
    ViewBag.Title = "Home Page";
}

@*<div id="header">
    SignalR Chat Room
</div> <br /> <br /> <br />*@

<div id="divContainer">
    <div id="divLogin" class="login">
        <div>
            Please Enter Your Name:<br/>
            <input id="txtNickName" type="text" class="textBox"/>
        </div>
        <div>
            Please Enter Your Email:<br/>
            <input id="txtEmailId" type="text" class="textBox"/>
        </div>
        <div id="divButton">
            <input id="btnStartChat" type="button" class="submitButton" value="Start Chat"/>
        </div>
    </div> 
    
    <div id="divusers" class="users">
    </div>

    @*<div id="divChat" class="chatRoom">
        <div class="title">
            Welcome to Chat Room [<span id='spanUser'></span>]

        </div>
        <div class="content">
            <div id="divChatWindow" class="chatWindow">
            </div>
            <div id="divusers" class="users">
            </div>
        </div>
        <div class="messageBar">
            <input class="textbox" type="text" id="txtMessage" />
            <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
        </div>
    </div>*@

    <input id="hdId" type="hidden" />
    <input id="hdUserName" type="hidden" />
    <input id="hdEmailID" type="hidden" />
</div>

@*<div id="divContainer">
        <div id="divLogin" class="login">
            <div>
                Please Enter Your Name:<br />
                <input id="txtNickName" type="text" class="textBox" />
            </div>
            <div>
                Please Enter Your Email:<br />
                <input id="txtEmailId" type="text" class="textBox" />
            </div>
            <div id="divButton">
                <input id="btnStartChat" type="button" class="submitButton" value="Start Chat" />
            </div>
        </div>

        <div id="divChat" class="chatRoom">
            <div class="title">
                Welcome to Chat Room [<span id='spanUser'></span>]
            </div>
            <div class="content">
                <div id="divChatWindow" class="chatWindow">
                </div>
                <div id="divusers" class="users">
                </div>
            </div>
            <div class="messageBar">
                <input class="textbox" type="text" id="txtMessage" />
                <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
            </div>
        </div>

        <input id="hdId" type="hidden" />
        <input id="hdUserName" type="hidden" />
        <input id="hdEmailID" type="hidden" />
    </div>*@

<script src="~/ChatScript/SignalRCommonChatScript.js" type="text/javascript"></script>